
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

body p {
	font-family:'Ours-Unicode'; 
	font-size:1rem;
}
hlaH1 {
  font-family:'GHK KengTung';
  font-size: 2rem;
  color: #ff9900;
}

Des {
	font-family:'Ours-Unicode'; 
	font-size:1.2rem;
	text-indent: 50px;
	color: #000;
}

Price {
	font-family:'Ours-Unicode'; 
	font-size:1.2rem;
	text-indent: 50px;
	color: #555555;
}