body {
  background-color: #2f2d2e;
  margin: 10px;
}

body p {
	font-family:'NK SSmart2'; 
	font-size:1.1rem;
}

hlaTitle {
  font-family:'Myanmar Yinmar';
  font-size: 4rem;
  color: #ff9900;
   	background: linear-gradient(to bottom, #fff 0%, #9a9a9a 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#rcorners1 {
  border-radius: 15px;
  padding: 2px; 
  text-align: center; 
  width: 95%;
  height:100px;
  background:#a51122;

}
hlaH1 {
  font-family:'Myanmar Yinmar';
  font-size: 1.5rem;
  color: #ff9900;
   	background: linear-gradient(to right, #fff 0%, #9a9a9a 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  line-height: 1.5;
}

Des {
	font-family:'NK SSmart2';
	text-shadow: 1px 2px 8px #000;
	font-size:1.1rem;
	color: #fdbb63;
	line-height: 1.7;
}

Price {
	font-family:'NK SSmart2'; 
	text-shadow: 1px 1px 4px #000;
	font-size:1rem;
	color: #ebbe73;
}