body {
  background-color: #2f2d2e;
  margin: 10px;
}

body p {
	font-family:'Ours-Unicode'; 
	font-size:1.1rem;
}

hlaTitle {
  font-family:'GHK KengTung';
  font-size: 4rem;
  color: #ff9900;
   	background: linear-gradient(to right, #fff 0%, #9a9a9a 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  line-height: 2;
}

hlaH1 {
  font-family:'GHK KengTung';
  font-size: 2rem;
  color: #ff9900;
   	background: linear-gradient(to right, #fff 0%, #9a9a9a 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  line-height: 2;
}

Des {
	font-family:'Ours-Unicode';
	text-shadow: 1px 2px 8px #000;
	font-size:1.1rem;
	color: #fdbb63;
	line-height: 1.7;
}

Price {
	font-family:'Ours-Unicode'; 
	text-shadow: 1px 1px 4px #000;
	font-size:1rem;
	color: #ebbe73;
}